@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;500;600;700&display=swap");

body {
  margin: auto;
  font-family: "Roboto Mono";
  max-width: 1080px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}